*{
    margin: 0;
    padding: 0;
    font-family: 'Briem Hand', Arial, Helvetica, sans-serif;
}


body {
    background-image: url('../img/fondo\ img.jpeg');
    backface-visibility:initial;
    margin-bottom: 0px;
}    

header {
    display: flex;
    flex-wrap:wrap; /* Permite que los elementos del header se envuelvan en filas adicionales */
    justify-content:space-around;
    align-items: center;
    background: linear-gradient(to right, #e6f0f0, #a00c67);
    color: rgb(82, 54, 86);
    padding: 20px;
    opacity: 80%;
    transition: background-color 13s ease; /* Agrega una transición suave */
}

header:hover {
    background: #250505; /* Cambia el color de fondo al pasar el ratón por encima */
  }

#logoheader img {
        width: 40%; /* El div se ajustará al ancho del contenedor padre */
        height: auto; /* Se ajustará automáticamente la altura según el ancho */
}

.titulo h1 {
    font-family:'Briem Hand', Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1.6em; 
}

nav {
    flex-grow: 1; /* Hace que el nav ocupe todo el espacio disponible */
    text-align: center; /* Centra los elementos de navegación */
}

nav ul {
    list-style-type:none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration:underline;
}

@media (max-width: 768px) {
    #logoheader img {
        background-image:var(#1b1010) ;
        width: 80px; 
    }

    .titulo h1 {
        font-size: 1.2em; /* Reducir el tamaño del título en pantallas más pequeñas */
    }
}

main {
    border-radius: 10px; /* Borde redondeado */
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* border: 3px #b31111 double; */
    opacity: 90%;
    display: grid;
    grid-template-columns: 4 fr, 4fr;
    grid-gap: 10px;
    padding: 10px;
    box-shadow: 2 2 10px rgba(0, 0, 0, 0.1);
}

.mazos{
    display: flex;
    border-radius: 10px; /* Borde redondeado */
    flex-direction: column;
    justify-content: center;
}

.mazosNacionales{
    border-radius: 10px; /* Borde redondeado */
    background-image: url(/static/img/ORACULO\ DE\ LAS\ DIOSAS.png);
}

.mazosImportados{
    border-radius: 10px; /* Borde redondeado */
    background-image: var()
}

.section2{
   background-image:url(/static/img/manga.png),url(/static/img/marvel.jpeg);
   font-weight: 50px;
   height: 200px; /* Altura de 200 píxeles */
   background-size: cover; /* Ajusta el tamaño para cubrir el área completa */
   background-position: center; /* Alinea las imágenes al centro */
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agendas{
    border-radius: 10px; /* Borde redondeado */
    height: 200px; /* Altura de 200 píxeles */
    background-image:url("https://http2.mlstatic.com/D_NQ_NP_924609-MLA72878652726_112023-F.jpg");
    background-size: cover;
    background-position: center;
}

.footer-container{
    border-radius: 10px; /* Borde redondeado */
    display: flex;
    background: linear-gradient(to right, #e6f0f0, #a00c67);
    opacity: 80%;
    margin-left: 1rem;
    justify-content:center;
    margin-bottom: 1%;
    bottom: 0;
    width: 100%;
}

.contact-info h3 {
    font-size: 3vh;
}