
h2 {
    color: coral ;
    text-decoration: underline;
    font-family: 'Lucida Sans';
    text-align: center;
    margin: 0 auto;
    font-family: arial;
    font-size: larger;
}

h3{
    text-decoration: underline;
    font-family: 'Lucida Sans';
    text-align: center;
    margin: 0 auto;
    font-family: arial;
    font-size: larger;
    color: tomato;
    border: solid;
    border-radius: 5px;
    border-color: tomato;
    border-width: 5px;
    text-decoration: underline;
    background-color: aliceblue;
    width: 400px;
    box-shadow: 1px 2px 7px 0 #000;
}

.pdf{
    color: brown;
    text-decoration: underline;
    font-family: 'Lucida Sans';
    text-align: center;
    margin: 0 auto;
    font-family: arial;
    font-size: larger;
}
  
tr{   
    color:crimson;
    font-family: 'Lucida Sans';
    text-align: center;
    margin: 0 auto;
    font-family: arial;
    font-size: larger;
    box-shadow: 1px 2px 7px 0 #000;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table {
    text-align: center;
    margin: 0 auto;
    font-family: arial;
    font-size: larger;
    background-color: aliceblue;
    border: solid;
    border-color: slateblue;
    width: 90%;
    overflow-x: auto;
    position: absolute;
    left: 20px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}
