<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/calatalogo.css">
    <title>CATALOGO</title>
</head>

<body class="container">
    <!-- ENCABEZADO -->
    <header>
        <div class="titulo">
            <h1>Libreria OLYMPO</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/index.html">HOME</a></li>
                    <li><a href="/templates/tarots y oraculo .html"> Tarots y oraculo</a></li>
                    <li><a href="http://www.libreriaolympo.com.ar" target="_blank">Tienda ONLINE</a></li>
                    <li><a href="/templates/contacto.html">Contacto</a></li>
                </ul>
            </nav>
    </header>
    <center>
    <main class="main.content">
            <h1> CATÁLOGO ABRIL 2024 </h1>
            <a href="/static/img/CATALOGO ABRIL 2024.pdf" download=""> DESCARGUE AQUÍ</a>
            <br>
            <br>
            <embed type="application/pdf" src="/static/img/CATALOGO ABRIL 2024.pdf" width="100%" height="600"> </embed>
    </main>
    </center>
    <!-- A PARTIR DE ACA ES EL PIE DE PAGINA -->
    <br>
    <footer>
            <div>
                <audio src="/assets/audio/Thirteen Senses - Into The Fire (Official Video).mp3" controls></audio>
            </div>
    </footer>

</body>

</html>
