<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
    <link rel="stylesheet" href="/static/css/productos.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/ICONO.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div id="logoheader">
            <img src="/static/img/ICONO.ico" alt="logo">
        </div>
        <div class="titulo">
        <h1>Libreria OLYMPO</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/templates/catalogo.html">Catalogo</a></li>
                <li><a href="/templates/tarots y oraculo .html"> Tarots y oraculo</a></li>
                <li><a href="http://www.libreriaolympo.com.ar" target="_blank">Tienda ONLINE</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
<br>
<center><H3>COMICS:</H3> <a  href="STATIC\IMG\CATALOGO COMICS_page-0001.pdf" class="pdf"> <br>DESCARGUE AQUÍ</a>
<br>
<br>
    <H3>MANGAS:</H3> <a  href="STATIC\IMG\CATALOGO MANGAS_page-0001.pdf" class="pdf"><br> DESCARGUE AQUÍ</a>
<br>
<br>
    <H3>CARTAS DE TAROT Y ORACULO:</H3> <a  href="STATIC\IMG\CATALOGO LIBRERIA OLYMPO 2.pdf" class="pdf"> <br>DESCARGUE AQUÍ</a>
</center>
<br>

    <H2>PRODUCTOS DESTACADOS:</H2>
<br>

    <div class="table-responsive">
    <table border="1">
        <tr>
            <th>TITULO </th>
            <th> COMPRAR  </th>
            <th> PRECIO </th>
            <th> FOTO </th>
            <th> ENVIO </th>
        </tr>
        <TR>
            <td> LIGHT SEER`S </td>
            <td><a href="https://acortar.link/lYAPNV"> COMPRAR </a></td>
            <td>$70.680</td>
            <td><img src="https://images.cdn3.buscalibre.com/fit-in/360x360/bf/e6/bfe6f3cc2f3558767459aa561713cc59.jpg" alt="LIGHT SEER`S" width="50" height="75">  </td>
            <td>ENVIO GRATIS</td>
        </TR>
        
        <TR>
            <td>MODERN WITCH TAROT</td>
            <td><a href="https://acortar.link/OY3JiM">COMPRAR</a></td>
            <td>$71.990</td>
            <td><img src="https://http2.mlstatic.com/D_NQ_NP_654356-MLA46078127196_052021-O.webp" alt="MODERN WITCH TAROT" width="55" height="75">  </td>
            <td>ENVIO GRATIS</td>
        </TR>
        
        <TR>
            <td>OSHO ZEN TAROT POCKET </td>
            <td> <a href="https://acortar.link/AHjzs8">COMPRAR</a> </td>
            <td>$39.900</td>
            <td> <img src="/static/img/OSHO ZEN TAROT POCKET.PNG" alt="OSHO ZEN" width="55" height="75"> </td>
            <td>ENVIO GRATIS</td>
        </TR>
        
        <TR>
            <td>WHITE SAGE TAROT </td>
            <td> <a href="https://acortar.link/52fTZe">COMPRAR</a> </td>
            <td>$64.990</td>
            <td><img src="/static/img/White_sage__31875.jpg" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td>AGENDA ASTROLOGICA DRAGON </td>
            <td class="agotado"> AGOTADO </td>
            <td>$15.000</td>
            <td><img src="/static/img/AGENDAS ASTROLOGICAS/1.PNG" alt="DRAGON" width="55" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>AGENDA ASTROLOGICA DRAGON SERPIENTE </td>
            <td class="agotado"> AGOTADO </td>
            <td>$15.000</td>
            <td><img src="/static/img/AGENDAS ASTROLOGICAS/5.PNG" alt="AGENDA SERPIENTE" width="55" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>AQUARIAN TAROT en LATA</td>
            <td> <a href="https://acortar.link/db6TTe">COMPRAR</a> </td>
            <td>$64.990</td>
            <td><img src="/static/img/AQUARIAN TAROT.png" alt="AQUARIAN" width="50" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td>THE SACRED SHE TAROT </td>
            <td><a href="https://acortar.link/xWRHEm">ENTRA EN JUNIO</a> </td> 
            <td>$79.900</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/ONE PUNCH MAN TOMOS COMPLETOS.jpg" alt="" width="50" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td> AGENDA ASTROLOGICA TIGRE </td>
            <td class="agotado"> AGOTADO </td>
            <td>$15.000</td>
            <td><img src="/static/img/AGENDAS ASTROLOGICAS/7.PNG" alt="" width="55" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>TAROT DEL VIDENTE DE LUZ  </td>
            <td> <a href="https://acortar.link/lYAPNV">COMPRAR</a> </td>
            <td>$74.500</td>
            <td><img src="/static/img/VIDENTE DE LA LUZ.PNG" alt="" width="50" height="75">
            </td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td>TAROT DE LAS BRUJAS </td>
            <td> <a href="https://acortar.link/52PeRh">AGOTADO</a> </td></td> 
            <td>$62.500</td>
            <td><img src="/static/img/5.PNG" alt="" width="55" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td>EVERYDAY WITCH TAROT en LATA </td>
            <td> <a href="https://acortar.link/DMWD5c">ENTRA EN JUNIO</a> </td>
            <td>$54.900</td>
            <td><img src="/static/img/EVERYDAY WITCH.jpg" alt="" width="70" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td>RANA GEORGE LENORMAND </td>
            <td class="PREVENTA"> ENTRA EN JUNIO </td>
            <td>$76.870</td>
            <td><img src="/static/img/RANA GEORGE.PNG" alt="" width="55" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td> UNDER THE ROSES LENORMAND </td>
            <td> <a href="https://acortar.link/2SZ0bo">ENTRA EN JUNIO</a> </td>  
            <td>$64.990</td>
            <td> <img src="/static/img/1.JPG" alt="" width="55" height="75"> </a> </td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td>ORACULO SANTA LA MUERTE</td>
            <td class="agotado"> AGOTADO </td>
            <td>$24.500</td>
            <td><img src="/static/img/RANA GEORGE.PNG" alt="" width="70" height="70"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td>THE OUTSIDER - STEPHEN KING</td>
            <td> <a href="https://acortar.link/SFKKPm">COMPRAR</a> </td> 
            <td>$28.396</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/THE OUTSIDER.jpeg" alt="THE OUTSIDER" width="55" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td>LA LLAMADA DE CUTHULU - H.P. LOVECRAFT </td>
            <td> <a href="https://acortar.link/XsXybQ">COMPRAR</a> </td>
            <td>$15.390</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/LA LLAMADA DE CUTHULU.PNG" alt="LLAMADA CUTHULU" width="55" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>EL COLOR QUE CAYÓ DEL CIELO - H.P. LOVECRAFT </td>
            <td> <a href="https://acortar.link/sA6VWA">COMPRAR</a> </td>  
            <td>$46.023</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/EL COLOR QUE CAYO DEL CIELO.PNG" alt="COLOR ESPACIO" width="55" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td>BERSERK TOMO 1 - ESPAÑOL </td>
            <td> <a href="https://acortar.link/YVJses">COMPRAR</a> </td> 
            <td>$7.980</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/BERSERK TOMO 1.jpg" alt="BERSERK 1" width="55" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>BERSERK TOMO 2 - ESPAÑOL  </td>
            <td> <a href="https://acortar.link/fo0EZ8 ">COMPRAR</a> </td> 
            <td>$7.980</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/BERSERK TOMO 2.jpeg" alt="BERSERK 2" width="55" height="75"> </td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>INVINCIBLE TOMO 1 - ESPAÑOL </td>
            <td class="agotado"> AGOTADO </td> 
            <td>$12.000</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/INVENCIBLE TOMO 1.PNG" alt="INVENCIBLE 1" width="55" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>INVINCIBLE TOMO 2 - ESPAÑOL </td>
            <td> <a href="https://acortar.link/M7VCvx ">COMPRAR</a> </td> 
            <td>$12.000</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/INVENCIBLE TOMO 2.jpg" alt="INVENCIBLE 1" width="55" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>THE WALKING DEAD EDICION ESPECIAL </td>
            <td class="agotado"> AGOTADO </td>  
            <td>$35.000</td>
            <td> <img src="/static/img/LIBROS - MANGAS - COMICS/images.jpeg" alt="TWD DELUXE" width="55" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td> DEATH NOTE TOMOS COMPLETOS </td>
            <td> <a href="https://acortar.link/uLdyJ6 ">COMPRAR</a> </td> 
            <td>$67.000</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/DEATH NOTE TOMOS COMPLETOS.jpg" alt="ONE PUNCH" width="95" height="75"></td>
            <td>ENVIO GRATIS</td>
        </TR>
        <TR>
            <td> DEMON SLAYER TOMO 10 </td>
            <td> <a href="https://acortar.link/YV5LgW ">COMPRAR</a> </td> 
            <td>$5.899</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/DEMON SLAYER.jpeg" alt="DEMON SLAYER" width="95" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td> ONE PUNCH MAN TOMOS COMPLETOS </td>
            <td> <a href="https://acortar.link/Wf2grw ">COMPRAR</a> </td> 
            <td>$6.000</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/ONE PUNCH MAN TOMOS COMPLETOS.jpg" alt="ONE PUNCH MAN" width="95" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>ANOTHER - ESPAÑOL </td>
            <td> <a href="https://acortar.link/KFKtg9 ">COMPRAR</a> </td> 
            <td>$22.990</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/ANOTHER ESPAÑOL.jpg" alt="ANOTHER" width="55" height="75"></td>
            <td>CONSULTAR</td>
        </TR>
        <TR>
            <td>CHAINSAWMAN - ESPAÑOL </td>
            <td> <a href="https://acortar.link/m2L3Df ">COMPRAR</a> </td> 
            <td>$4.999</td>
            <td><img src="/static/img/LIBROS - MANGAS - COMICS/CHAINSAW MAN ESPAÑOL.jpg" alt="CHAINSAW" width="55" height="75"></td>
            <td>CONSULTAR</td>
        </TR>     
    </table>
    </div> 
</body>
</html>